.content.about {
    background-image: url("./pics/patagonia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    flex-grow: 1; /* for keeping footer on bottom */
    margin: 0;
    min-height: calc(100vh - 5rem);
}

.about .description {
    background-color: #f4f4f4;
    padding: .5rem 1rem;
    width: 70%;
    max-width: 50rem;
    margin: 2rem auto;
    /*display: flex;*/
    font-family: 'Ubuntu Mono', monospace;
}
.about .description .kyle-pic {
    margin-right: 2rem;
}
.about .description .kyle-pic img {
    width: 100%;
}