.content.about {
    background-image: url("./pics/patagonia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    flex-grow: 1; /* for keeping footer on bottom */
    margin: 0;
}

.about .description {
    background-color: #f4f4f4;
    padding: .3rem 2rem;
    width: 70%;
    max-width: 40rem;
    margin: 8vh auto 0 auto;
    /*display: flex;*/
    font-family: 'Ubuntu Mono', monospace;
}
.about .description .kyle-pic {
    margin-right: 2rem;
}
.about .description .kyle-pic img {
    width: 100%;
}

/*--------------------- MEDIA QUERIES ---------------------*/
/* for changing window size */
/*  GO FULL WIDTH AT LESS THAN 730 PIXELS */

@media only screen and (max-width: 800px) {
    .about .description {
        width: 83%;
        max-width: none;
    }
}