/*
cool colors
teal    #1b88c6
maroon  #561930
*/

header .name {
    margin: 2rem 10rem 0 10rem;
    border-bottom: solid lightgrey 1px;
}

header h1 {
    font-size: 2.2rem;
    text-align: center;
    font-family: 'Megrim', cursive;
    letter-spacing: 1.5rem;
    margin: 1rem auto .5rem auto;
}

header h1 a,
header h1 a:visited {
    text-decoration: none;
    color: #561930;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    padding: 0 2rem;
    display: inline;
    font-family: 'Ubuntu Mono', monospace;
}

nav ul li a {
    color: #350618;
    transition:color .3s linear;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
}

nav ul li a:hover {
    color: #1b88c6;
    transition:color .3s linear;
}

/*--------------------- MEDIA QUERIES ---------------------*/
/* for changing window size */
/*  GO FULL WIDTH AT LESS THAN 1024 PIXELS */

@media only screen and (max-width: 720px) {
    header .name {
        margin: 0.5rem;
    }
}