/*
cool colors
teal    #1b88c6
maroon  #350618
*/

header .name {
    margin: 2rem 10rem 0 10rem;
    border-bottom: solid lightgrey 1px;
}

header h1 {
    font-size: 3rem;
    text-align: center;
    font-family: 'Megrim', cursive;
    letter-spacing: 1.5rem;
    margin: 1rem auto 1rem auto;
    color: #350618;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    padding: 0 1rem;
    display: inline;
}

/*--------------------- MEDIA QUERIES ---------------------*/
/* for changing window size */
/*  GO FULL WIDTH AT LESS THAN 1024 PIXELS */

@media only screen and (max-width: 720px) {
    header .name {
        margin: 0.5rem;
    }
}