/*
cool colors
teal    #1b88c6
maroon  #561930
*/

body {
    margin: 0;
    background-color: #f4f4f4;
}

.content {
    width: 70%;
    margin: auto;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
}

#gallery ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#gallery ul li {
    width: 33.33%;
    text-align: center;
    padding-bottom: 1rem;
}

#gallery img {
    width: calc(100% - 1rem);
    padding: 0 .5rem;
}

footer {
    width: calc(100% - 2rem);
    background-color: lightgrey;
    padding: .3rem 1rem;
    color: #561930;
    font-family: 'Ubuntu Mono', monospace;
}

footer p {
    margin: .5rem 0;
}

footer .copyright {
    font-size: 1.5rem;
}

/*--------------------- MEDIA QUERIES ---------------------*/
/* for changing window size */
/*  GO FULL WIDTH AT LESS THAN 1024 PIXELS */

@media only screen and (max-width: 720px) {
    .content {
        width: 98%;
    }
    #gallery ul li {
        width: 100%;
        padding-bottom: .5rem;
    }
}