.contact,
.contact nav,
.contact .floating-blurb {
	background-color: #d5d9ff;
}

.contact .blurb-content ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact .blurb-content ul li {
    margin-bottom: 1rem;
}

.contact i {
    margin-right: .4rem;
}

/*--------------------- MEDIA QUERIES ---------------------*/
/* for changing window size */
/* GO FULL WIDTH AT LESS THAN 720 PIXELS */
@media only screen and (max-width: 720px) {
    .contact .floating-blurb {
        width: calc(85% - 2rem);
    }
}
