.inspiration header {
    background-image: url("./pics/background-tronador.jpg");
    background-position: 0 65%;
}

.inspiration,
.inspiration nav,
.inspiration header p {
	background-color: #bcd2ec;
}

.inspiration ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}