.projects,
.projects nav,
.projects .floating-blurb {
	background-color: #d9e0e0;
}

.projects .floating-blurb {
    width: 60%;
    max-width: 55rem;
    padding: 0 2rem;
    justify-content: flex-start;
}

.projects .floating-blurb .blurb-content {
    justify-content: flex-start;
}

.projects p {
    margin-top: 0;
}

.projects ul.tabs {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2rem;
    border-bottom: 1px grey solid;
}

.projects ul.tabs li {
    text-align: center;
    padding: .5rem;
    cursor: pointer;
    flex-grow: 1;
}

.projects ul.tabs li.selected {
    background-color: lightseagreen;
    font-weight: bold;
}

.projects .videos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.projects .videos .video {
	margin-bottom: 2rem;
	flex: 1;
}

.projects .gallery-horizontal ul {
	padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.projects .gallery-horizontal ul img {
    width: 100%;
}

.projects .gallery-horizontal ul li {
    width: 50%;
    padding-right: 0.25rem;
    box-sizing: border-box;
}

.projects .gallery-horizontal ul li:hover, 
.projects .gallery-vertical ul li:hover {
    background-color: unset;
}

/* DOCS https://css-tricks.com/seamless-responsive-photo-grid/ */
.gallery-vertical ul img {
    width: 100%;
    padding: 0 0 .25rem 0;
}

.projects .gallery-vertical {
	list-style-type: none;
    margin: 0;
    padding: 0;
    column-count: 3;
    line-height: 0;
    column-gap: .25rem;
}

.projects .gallery-vertical ul li {
	text-align: center;
}

/* when the projects page loads, only display the friendship bracelets category. */
.projects #murals,
.projects #hackathon,
.projects #digital-art {
	display: none;
}

/*--------------------- MEDIA QUERIES ---------------------*/
/* for changing window size */
/* GO FULL WIDTH AT LESS THAN 720 PIXELS */
@media only screen and (max-width: 720px) {
    .projects .right-categories {
        width: calc(100% - 7rem);
    }

    .projects .left-nav ul li {
    	padding: 1rem .25rem;
    }

    .projects .gallery-vertical ul {
    	column-count: 2;
    }

    .projects .gallery-horizontal ul img {
	    width: 100%;
	    padding-right: 0;
	}

}