body {
    margin: 0;
    background-color: lightgrey;
    /* all for stretching page to full height and putting footer on bottom: */
    /* DOCS https://dev.to/domysee/keeping-the-footer-at-the-bottom-with-css-flexbox-5h5f */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
    font-size: 15px;
}

nav {
    font-size: 16px;

}

nav.polaroid {
    text-align: left;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
}

nav .home-link, 
nav .home-link:visited,
nav .home-link:hover {
    display: block;
    margin: 1rem 0;
    padding: 0 1rem;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
nav .home-link:hover {
    background-color: lightseagreen;
}

ul {
    font-family: 'Consolas', 'Courier New', 'Arial';
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    width: 100%;
    flex-direction: column;
}


ul li.highlighted {
    background-color: lightseagreen;
    font-weight: bold;
}

ul li:hover {
    background-color: lightseagreen;
}

ul li a {
    text-decoration: none;
    color: black;
    display: block;
}
ul li a:hover {
    color: inherit;
}

nav ul li a,
.subnav ul li a {
    padding: 0 1rem;
}

header {
    text-align: center;
    margin-bottom: 1rem;
}

h1 {
	color: lightseagreen;
    font-size: 3rem;
    font-family: 'Consolas', 'Courier New', 'Arial';
    font-weight: normal;
    text-align: center;
    margin: 0 auto 1.5rem auto;
    text-decoration: underline;
    text-shadow: 3px 3px 0px white;
}

h2 {
    margin: 0;
    font-family: 'Consolas', 'Courier New', 'Arial';
    font-size: 2.5rem;
}

h3 {
    margin: 0;
    font-family: 'Consolas', 'Courier New', 'Arial';
    font-size: 1.2rem;
    font-weight: bold;
}

p, a, span {
    font-family: "Consolas", "Courier New";
}

a {
    color: lightseagreen;
}
a:hover {
    color: black;
    background-color: lightseagreen;
    text-decoration: none;
}

header p {
    padding: .5rem;
    color: black;
    width: calc(60% + 1rem);
    max-width: 49rem; /* max width of .content plus 1 for padding */
    margin: 2rem auto;
}

.content-full-width {
    padding: 0;
    background-image: url("./pics/corkboard1-small.jpg");
    flex-grow: 1; /* for keeping footer on bottom */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    overflow: hidden;
}

.edge {
    height: 100vh;
    position: fixed;
    width: calc(calc(100% - 40rem) / 2);
    top: 0;
}
.edge.right {
    right: 0;
}
.edge.left {
    left: 0;
}

.floating-blurb {
    box-sizing: border-box;
    width: 40rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
}
.floating-blurb.wide .blurb-content{
    padding: 0;
}
.blurb-content {
    padding: 0 7rem;
    padding-top: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* prevents flex items from getting smaller when content is larger than screen */
.no-shrink {
    flex-shrink: 0;
}

.polaroid {
    width: 200px;
    height: 200px;
    border: 1rem solid white;
    border-bottom-width: 3rem;
    background-color: #333;
    padding: 0;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    transition: all .20s linear;
    z-index: 1;
    position: absolute;
    text-align: center;
}
.polaroid:hover {
    z-index: 4;
}

.polaroid img {
  display: flex;
  width: 100%;
  height: 100%;
}

.polaroid span {
    margin-top: 1rem;
    font-size: 13px;
    display: block;
}

footer {
    width: calc(100% - 1rem);
    color: black;
    background-color: transparent;
    padding: 0 .5rem;
    font-size: .9rem;
    text-align: center;
}

footer p {
    margin: .5rem 0 .25rem 0;
}

nav.mobile-nav {
    display: none;
}

nav.mobile-nav ul {
    font-size: 15px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2rem;
    margin: 0;
    padding: 0;
    background-color: white;
    border-bottom: 1px solid lightseagreen;
}

nav.mobile-nav ul li {
    text-align: center;
    padding: 0;
    cursor: pointer;
    flex-grow: 1;
}

nav.mobile-nav ul li a {
    padding: .5rem 0;
}

/*--------------------- MEDIA QUERIES ---------------------*/

/* Move nav to top at < 1150px */
@media only screen and (max-width: 1150px) {
    nav.mobile-nav {
        display: block;
    }

    nav.polaroid {
        display: none;
    }
}

/* GO FULL WIDTH AT LESS THAN 720 PIXELS */
@media only screen and (max-width: 650px) {
    nav.mobile-nav,
    footer {
        font-size: 13px;
    }

    .edge {
        display: none;
    }

    .blurb-content {
        padding: 0 5%;
    }

    .floating-blurb {
        z-index: 2;
        margin: 0 1rem
    }
}