.home .content-full-width {
    background-image: url("./pics/background-jasper2.jpg");
    background-position: 0 15%;
}

.home,
.home nav,
.home .blurb {
	background-color: #dee7f1;
}

.home .content-full-width {
	padding-top: 1.5rem;
}

.home .blurb {
    padding: .5rem;
    color: black;
    width: calc(45% + 1rem);
    margin: 2rem auto;
    text-align: left;
    display: flex;
}

.home .blurb .description-paragraphs {
	margin-right: .5rem;
}

/*--------------------- MEDIA QUERIES ---------------------*/
/* for changing window size */
/* GO FULL WIDTH AT LESS THAN 800 PIXELS */
@media only screen and (max-width: 800px) {
    .home .content-full-width .blurb {
        flex-wrap: wrap;
        width: calc(85% - 2rem);;
    }
}