.contact .content-full-width {
    background-image: url("./pics/background-annecy4.jpg");
    background-position: 10% 47%;
    padding-top: 1.5rem;
}

.contact,
.contact nav,
.contact .floating-blurb {
	background-color: #c8cdfb;
}

.contact .floating-blurb {
    width: 35%;
}

.contact ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact ul li {
    margin-bottom: 1rem;
}

.contact i {
    margin-right: .3rem;
}


.career header {
    background-image: url("./pics/background-patagonia2.jpg");
    background-position: 0 50%;
}

.career,
.career nav,
.career header p {
	background-color: #f7e1af;
}

/*--------------------- MEDIA QUERIES ---------------------*/
/* for changing window size */
/* GO FULL WIDTH AT LESS THAN 720 PIXELS */
@media only screen and (max-width: 720px) {
    .contact .floating-blurb {
        width: calc(85% - 2rem);
    }
}