.contact header {
    background-image: url("./pics/background-jasper.jpg");
    background-position: 0 48%;
}

.contact,
.contact nav,
.contact header p {
	background-color: #d2bfb0;
}

.contact ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact ul li {
    margin-bottom: 1rem;
}

.contact i {
    margin-right: .3rem;
}


.career header {
    background-image: url("./pics/background-patagonia2.jpg");
    background-position: 0 50%;
}

.career,
.career nav,
.career header p {
	background-color: #f7e1af;
}
