.projects header {
    background-image: url("./pics/background-patagonia.jpg");
    background-position: 0 50%;
}

.projects,
.projects nav,
.projects header p {
	background-color: #d9e0e0;
}

/* display the left nav and right content on the same axis. */
.projects .wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.projects .left-nav {
	width: 10.5rem;
	min-width: 10.5rem;
	background-color: white;
}

/* The sticky class is added to the nav with JS when it reaches its scroll position */
.projects .left-nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.projects .left-nav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.projects .left-nav ul li {
    padding: 1rem;
}

.projects .left-nav ul li a {
    text-decoration: underline;
}
.projects .left-nav ul li a:hover {
    cursor: pointer;
}

.projects .right-categories {
    padding: 1rem;
    /* set width equal to 100% - width of left nav - element's padding on left and right side*/
    width: calc(100% - 12.5rem);
}

.projects .videos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.projects .videos .video {
	margin: 0 .25rem 1.5rem .25rem;
	flex: 1;
}

.projects .gallery-horizontal ul {
	padding: 0;
}

.projects .gallery-horizontal ul img {
    width: 32%;
    padding-right: .25rem;
}

.projects .gallery-horizontal ul li {
	display: inline;
}

/* DOCS https://css-tricks.com/seamless-responsive-photo-grid/ */
.gallery-vertical ul img {
    width: 100%;
    padding: 0 0 .25rem 0;
}

.projects .gallery-vertical ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    column-count: 4;
    line-height: 0;
    column-gap: .25rem;
}

.projects .gallery-vertical ul li {
	text-align: center;
}

/* when the projects page loads, only display the friendship bracelets category. */
.projects #murals,
.projects #hackathon,
.projects #digital-art {
	display: none;
}

/*--------------------- MEDIA QUERIES ---------------------*/
/* for changing window size */
/* GO FULL WIDTH AT LESS THAN 720 PIXELS */
@media only screen and (max-width: 720px) {
    .projects .left-nav {
    	width: 5rem;
    	min-width: 5rem;
    }

    .projects .right-categories {
        width: calc(100% - 7rem);
    }

    .projects .left-nav ul li {
    	padding: 1rem .25rem;
    }

    .projects .gallery-vertical ul {
    	column-count: 2;
    }

    .projects .gallery-horizontal ul img {
	    width: 100%;
	    padding-right: 0;
	}

}