.projects header {
    background-image: url("./pics/background-patagonia.jpg");
    background-position: 0 50%;
}

.projects,
.projects nav,
.projects header p {
	background-color: #c5c7bc;
	/*bdcab9*/
}