body {
    margin: 0;
    background-color: lightgrey;
    /* all for stretching page to full height and putting footer on bottom: */
    /* DOCS https://dev.to/domysee/keeping-the-footer-at-the-bottom-with-css-flexbox-5h5f */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

nav {
	background-color: lightgrey;
    padding: .15rem;
    width: calc(100% - .3rem);
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: darkgreen;
}
nav ul li a:hover {
    color: green;
}

header {
    text-align: center;
    padding: 2rem 0;
}

.home .content-full-width,
header {
    background-size: cover;
    flex-shrink: 0;
}

h1 {
	color: white;
    font-size: 6vw; /* width of the font is proportional to width of the page */
    font-family: 'Seaweed Script', 'Arial';
    font-weight: normal;
    text-align: center;
    margin: 1rem auto 0 auto;
    text-shadow: 0 5px 10px rgba(0,0,0,0.3), 0 6px 6px rgba(0,0,0,0.8);
}

header p {
    padding: .5rem;
    color: black;
    width: calc(60% + 1rem);
    margin: 2rem auto;
}

.content-full-width {
    flex-grow: 1; /* for keeping footer on bottom */
    width: 100%;
}

.content {
    flex-grow: 1; /* for keeping footer on bottom */
    width: 60%;
    background-color: white;
    margin: .25rem auto .25rem auto;
    padding: 1rem;
}

.background-image{
    flex-grow: 1; /* for keeping footer on bottom */
    background-image: url("pics/background-patagonia.jpg");
	background-size: cover;
    background-repeat: no-repeat;
	margin: 0;
    background-position: bottom;
    width: 100%;
}


/* prevents flex items from getting smaller when content is larger than screen */
.no-shrink {
    flex-shrink: 0;
}

footer {
    width: calc(100% - 1rem);
    color: black;
    background-color: transparent;
    padding: 0 .5rem;
    font-size: .9rem;
    text-align: center;
}

footer p {
    margin: .5rem 0 .25rem 0;
}